.navbar_logo{
    max-width: 90px;
}
.index_999 {
    z-index: 999;
}
.bg_black{
    background: #000;
}
.index_1 {
    z-index: 1;
}

.cross_btn {
    top: 42px;
    right: 15%;
}

nav li a:hover {
    opacity: 1 !important;
}

nav li a::after {
    position: absolute;
    content: "";
    height: 2px;
    border-radius: 1px;
    bottom: -5px !important;
    width: 0;
    background-color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

nav li a:hover::after {
    color: #fff;
    width: 100%;
}

.nav_white_line:hover {
    opacity: 1 !important;
}

.line1,
.line2,
.line3 {
    content: "";
    height: 4px;
    width: 30px;
    border-radius: 12px;
}

.menu {
    width: 30px;
    height: 20px;
    right: 10px !important;
    z-index: 1;
}

.show_nav {
    top: 0% !important;
    left: 0% !important;
    opacity: 1 !important;
    z-index: 77 !important;
}

.overflow_hidden {
    overflow: hidden !important;
}

.navbar-logo {
    max-width: 148px !important;
}

.nav_btn{
    font-size: var(--font-lg);
    color: #707070;
    display: inline-block;
    background: #000;
    color: #FFF ;
    font-weight: 600;
    text-align: center;
    padding: 8px 25px 7px 25px;
    line-height: normal !important;
    border-radius: 25px;
    text-decoration: none;
border: 1px solid rgba(0, 0, 0, 0.46);
transition: all 0.3s ease-in-out;
  }
  .nav_btn:hover{
    background: transparent;
    color: #707070;
  }
.search_input_parent{
    border: 1px solid #b3b3b3 !important;
}
  .search_input {
    
    width: 430px !important;
    border-radius: 50px !important;
    background-color: transparent !important;
    border:none;
  }
  .search_input:focus-visible {
    outline: none !important;
  }
  .search_input::placeholder {
    color: #000 !important;
    opacity: 1!important;
  }
.nav_link {
    font-size: var(--font-md);
    color: #000;
    font-weight: 500;
    opacity: 0.7;
    position: relative;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }
  .nav_link:hover{
    color: #000;
    opacity: 1 ;
  }
  
  .nav_link::after {
    bottom: -5px;
    position: absolute;
    content: "";
    display: block;
    height: 0px;
    width: 0px;
    background: #000;
    transition: width 0.3s;
    left: 50%;
  }
  
  .nav_link:hover:after {
    position: absolute;
    opacity: 1 !important;
    content: "";
    height: 2.5px !important;
    width: 100% !important;
    left: 50%;
    transform: translateX(-50%);
  }

  .form-control:focus{
    box-shadow: unset;
}
.has-search .form-control {
    cursor: pointer;
    background: transparent;
    padding-left: 2.375rem;
    border: 1px solid #b3b3b3;
    border-radius: 100px;
    max-width: 185px;
}

.has-search .form-control-feedback {
    position: absolute;
    left: 10px;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* ==========DEFINE HERO SECTION CSS========== */
@media (max-width:991.98px) {
    .overlay {
        position: absolute;
        background: #000 !important;
        width: 100%;
        height: 100vh;
        top: -150%;
        left: -100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: 0.3s all linear !important;
        -o-transition: 0.3s all linear !important;
        transition: 0.3s all linear !important;
        z-index: 9999;
    }

    nav li a::after {
        background: #ffffff !important;
    }

    .hero_image_height {
        min-height: 40vh !important;
    }

    .arrow_bg {
        padding: 10px !important;
    }
    .nav_btn{
        font-size: var(--font-lg);
        color: #707070;
        display: inline-block;
        background: #FFF;
    border: 1px solid white;
      }
      .nav_btn:hover{
        background: transparent;
        color: #FFF;
      }
}

@media (max-width:575.98px) {
    .cross_btn {
        top: 30px;
        right: 18px;
    }

    .navbar_logo {
        max-width: 50px !important;
        max-height: 50px !important;
    }

    .line1,
    .line2,
    .line3 {
        width: 24px !important;
    }
}
